@import url ('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url ('https://fonts.googleapis.com/css?family=Eczar');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.571);
}
.container > * > *{
    margin-left: 2vw;
    margin-right: 2vw;
}

h1, h2, h3, h4, p , div{
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    font-weight: 100;
    font-family: 'Eczar', serif;
    font-size: 2em;
    /* text-align: center; */
}

h3 {
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
}

section {
    /* margin: 2em 0; */
}

.btn {
    width: 3em;
    color: rgba(0, 0, 0, 0.612);
    background: lightgray;
    border-radius: 5px;
    line-height: 3em;
    padding: 1em;
}
    .btn:hover{
        background:rgb(176, 176, 176);
    }

.logo {
    display: block;
    margin: 0 auto;
    width: 20vw;
    background: transparent;
}

.header {
    text-align: center;
    background: linear-gradient(90deg, rgb(81, 95, 189) 0%, rgb(255, 70, 118) 52%, rgb(253, 223, 70) 100%);
    padding: 6vh 0 3vh;
}
    .navBar{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background: white; 
        padding: 1em;
    }
    .navBar li {
        display: inline-block;
    }