@import url ('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url ('https://fonts.googleapis.com/css?family=Eczar');

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    background: rgba(255, 255, 255, 0.571);
}
.container > * > *{
    /* margin-left: 2vw;
    margin-right: 2vw; */
}

h1, h2, h3, h4, p , div{
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    font-weight: 100;
    font-family: 'Eczar', serif;
    font-size: 2em;
    /* text-align: center; */
}

h3 {
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    /* margin: 2em 0; */
}

.btn {
    /* width: auto; */
    color: rgba(0, 0, 0, 0.612);
    background: lightgray;
    border-radius: 5px;
    line-height: 3em;
    padding: 0 1em;
}
    .btn:hover{
        background:rgb(176, 176, 176);
    }

.logo {
    display: block;
    margin: 0 auto;
    width: 20rem;
    max-width: 80vw;
    background: transparent;
}

.header {
    text-align: center;
    background: linear-gradient(90deg, rgb(81, 95, 189) 0%, rgb(255, 70, 118) 52%, rgb(253, 223, 70) 100%);
    padding: 3vh 3vh;
}
@media screen and (max-width: 700px){
    .header{
        font-size: 50%;
    }
}
    .navBar{
        text-align: center;
        position: sticky;
        top: 0;
        background: white; 
        padding: 1em;
    }
    .navBar ul {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;	
        grid-gap: 1em;
    }
    @media screen and (max-width: 700px){
        /* .navBar ul {
            grid-auto-flow: row;
            justify-content: stretch;	
            grid-gap: 0.2em;
            margin: 0 2vw;
        } */
    }
    .navBar li label{
        display: block;
        /* width: max-content; */
    }