li {
    text-align: center;
}

.photoGrid {
    display: grid;
    grid-template:
        repeat(auto-fit, minmax(12em, 1fr)) /
        repeat(auto-fill, minmax(10em, auto));
    justify-items: center;
}

.studentImg {
    height: 10em;
}
.sec-body {
}

.sec-detail {
    z-index: 3;
    /* padding: 10vh 0; */
    position: fixed;
    background: #000000cc;
    top: 0;
    /* bottom: 0; */
    left: 0;
    /* right: 0; */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template:
        '. . .' minmax(1em, 1fr)
        '. detailContainer .' max-content
        '. . .' minmax(1em, 1fr)
        / minmax(5vw, 1fr) max-content minmax(5vw, 1fr);
}
    .sec-detailContainer {
        grid-area: detailContainer;
        /* box-sizing: border-box; */
        width: 90vw;
        max-width: 700px;
        display: grid;
        color: white;
        grid-template:
            'detailPhoto detailName closeButton' 0fr
            'detailPhoto detailInfo detailInfo' 1fr
            / minmax(15em, 1fr) minmax(15em, 1fr) 0fr;
        grid-gap: 1vw;
        /* align-items: stretch; */
        /* background: rgba(255, 255, 255, 0.673); */
    }
    @media screen and (max-width: 700px){
        .sec-detailContainer {
            max-width: 320px;
            grid-template:
                'detailName closeButton' 0fr
                'detailInfo detailInfo' 0fr
                'detailPhoto detailPhoto' 0fr
                / 1fr 0fr;
            grid-gap: 1vw;
        }
    }
        .closeButton{
            grid-area: closeButton;
            line-height: 1em;
            opacity: .5;
            cursor: pointer;
        }
            .closeButton:hover {
                opacity: 1;
            }
        .detailPhoto {
            grid-area: detailPhoto;
            /* box-sizing: content-box; */
            width: 100%;
            height: auto;
        }
        .detailName {
            grid-area: detailName;
        }
        .detailInfo {
            grid-area: detailInfo;
        }
            .detailInfo > * {
                margin-bottom: 1em;
            }