<section class='footer'>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <p>&copy; 2018 Pok Tik Benjamin Leung All Rights Reserved</p>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/benminleung" data-size="large" aria-label="Follow @ntkme on GitHub">Follow @benminleung</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/benminleung/integrify-assignment08a-galleryNodeExpressEjs" data-icon="octicon-star" data-size="large" aria-label="Star benminleung/integrify-assignment08a-galleryNodeExpressEjs on GitHub">Repo</a>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/benminleung/integrify-assignment08a-galleryNodeExpressEjs/archive/master.zip" data-icon="octicon-cloud-download" data-size="large" aria-label="Download benminleung/integrify-assignment08a-galleryNodeExpressEjs on GitHub">Download</a>
</section class='footer'>